

<body>
    
    

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Nearest Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Tìm cửa hàng gần nhất</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
               <table class="table table-bordered">
                <thead >
                    <tr>
                        <th scope="col">Tên cửa hàng</th>
                        <th scope="col">Khoảng cách</th>
                        <th scope="col" >Action</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each stores}}
                    <tr>
                        <td>{{this.ten_cua_hang}}</td>
                        <td>{{this.khoang_cach}}m</td>
                        <td>
                            <a href ="/shop?id={{ma_cua_hang}}" class="site-btn" type="button">Mua hàng</a>
                        </td>
                        

                    </tr>
                    {{/each}}

                </tbody>

            </table>
              
            </div>
        </div>
    </section>
    <!-- Product Section End -->


</body>
