<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail User</li>
    </ol>
</nav>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên tài khoản</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <form method="post" action="/admin/reset-password">
        <tr>
            <input style="display:none" name="username" value="{{detail.username}}">
            <input style="display:none" name="password" value="{{detail.username}}">
            <td>{{detail.username}}</td>
            <td><button type="submit" class="btn btn-primary">Reset mật khẩu</button></td>
        </tr>
        </form>
    </tbody>
</table>
<div class="col-12 d-grid">
    <a href="/admin/orderlist"><button class="btn btn-primary" type="submit">Back</button></a>
</div>