
<body>
  
    
    <section class="product-details spad" >
        <div class="row justify-content-center">
                <p>Chưa có shop ? Đăng ký bán hàng ngay</p>
        </div>
         <div class="row justify-content-center">
                <a href='/shop/shop-register' type="button" class="site-btn">Đăng ký bán hàng</a>
        </div>
    </section>
</body>
